{% extends 'base.html' %}
{% load static %}
{%block title%} Explore | FavFoodz {% endblock title %}

{% block head %}
<style>
    #discover {
        height: 400px;
    }
    .item-card:hover {
        box-shadow:2px 7px 15px -4px rgba(0,0,0,0.5);
        cursor: pointer;
        transition: 0.3s;
    }
    @media screen and (max-width: 500px) {
        #discover {
            height: auto;
            margin-left: 4.5%;
            margin-top: 10px;
            padding: 10px 0px;
            overflow-y: hidden;
        }
    }
</style>
{% endblock head %}
{% block content %}
<h5 class="text-danger ml-5"> Showing results for "{{search_query}}" <i class="fas fa-search"></i> </h5>
<div class="row">
    <div class="col-md-9 bg-light mr-2 card py-2 col-sm-12 "style="box-shadow:2px 7px 15px -4px rgba(0,0,0,0.75);">
        <div class="row">
            {% for restaurant in restaurants %}
            <div class="col-md-4 mb-3 main">
                <div class="card mx-auto item-card" style="height:auto;width:250px;">
                    <div class="row">
                        <img src="{% if restaurant.owner.userprofile.avatar%}
                                      {{restaurant.owner.userprofile.avatar.url}}{%else%}{%static 'images/user.png'%}{%endif%}"
                            alt="" height="35" width="35" class="rounded-circle ml-3">
                        <a href="{{restaurant.owner.userprofile.get_absolute_url}}" class="text-dark mt-2">
                            <h6>{{restaurant.owner.username}} </h6>
                        </a>
                    </div>
                    <img src="{% if restaurant.image %}{{ restaurant.image.url }}{% else %}
                                     {% static 'images/nophoto.jpg' %}
                                                {% endif %}
                                                " alt="" class="card-img-top" height="150">
                    <div class="card-body" style="line-height: 12px;">
                        <h5 class="card-title text-danger">{{restaurant.name}}</h5>
                        <p class="card-text text-muted"> Uploaded on: {{restaurant.timestamp|date}}
                        </p>
                        <a href="{{restaurant.get_absolute_url}}" class="btn btn-danger btn-sm py-0">more</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <h4 class="text-danger"> No Restaurants for "{{search_query}}"</h4>
            {% endfor %}
        </div>
        <hr>
        <div class="row">
            {% for item in menu_items %}
            <div class="col-md-4 mb-3 main">
                <div class="card mx-auto item-card" style="height:auto;width:250px;">
                    <div class="row">
                        <img src="{% if item.user.userprofile.avatar%}{{item.user.userprofile.avatar.url}}{%else%}{%static 'images/user.png'%}{%endif%}"
                            alt="" height="35" width="35" class="rounded-circle ml-3">
                        <a href="{{item.user.userprofile.get_absolute_url}}" class="text-dark mt-2">
                            <h6>{{item.user.username}} </h6>
                        </a>
                    </div>
                    <img src="{% if item.image %}{{ item.image.url }}{% else %}
                                                    {% static 'images/item.jpg' %}
                                                {% endif %}
                                                " alt="" class="card-img-top" height="150">
                    <div class="card-body" style="line-height: 12px;">
                        <h5 class="card-title text-danger">{{item.name}}</h5>
                        <p class="card-text text-muted"> Uploaded on: {{item.timestamp|date}}
                        </p>
                        <a href="{{item.get_absolute_url}}" class="btn btn-danger btn-sm py-0">more</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <h4 class="text-danger"> No Menus for "{{search_query}}"</h4>
            {% endfor %}
            </div>
       
    </div>


    <div class="col-md-2 ml-md-2  card col-sm-12" id="discover"
        style="box-shadow:2px 7px 15px -4px rgba(0,0,0,0.75);width:90%;overflow-y:scroll;">
        <div class="card-title bg-light text-center">
            <h5> People </h5>
        </div>
        
        <ul class="list-group">
            {% for user in users %}
            <li class="list-group-item py-0 px-0">
                <img src="{% if user.userprofile.avatar%}{{user.userprofile.avatar.url}}{%else%}{%static 'images/user.png'%}{%endif%}"
                    alt="" height="40" width="40" class="rounded-circle"> <span> <a
                        href=" {{user.userprofile.get_absolute_url}}"> {{user}} </a> </span>

            </li>
            {% empty %}
            <h6 class="text-danger text-center"> No users found </h6>
            {% endfor %}
        </ul>

    </div>


</div>


{% endblock content %}